In [43]:
import pandas as pd
import nose.tools
import numpy as np
# Write your imports here

# Data Tidying and Cleaning Lab
## Reading, tidying and cleaning data. Preparing data for exploration, mining, analysis and learning

### Problem 1. Read the dataset
The dataset [here](http://archive.ics.uci.edu/ml/datasets/Auto+MPG) contains information about fuel consumption in different cars.

Click the "Data Folder" link and read `auto_mpg.data` into Python. You can download it, if you wish, or you can read it directly from the link.

Give meaningful (and "Pythonic") column names, as per the `auto_mpg.names` file:
1. mpg
2. cylinders
3. displacement
4. horsepower
5. weight
6. acceleration
7. model_year
8. origin
9. car_name

In [44]:

mpg_data=pd.read_csv("data/auto_mpg.txt",header = None,delimiter ='\s+', 
names=["mpg","cylinders","displacement","horsepower","weight","acceleration","model_year","origin","car_name"],na_values = ["?"])

In [45]:
nose.tools.assert_is_not_none(mpg_data)

Print the first 4 rows in the dataset to get a feel of what it looks like:

In [46]:
# YOUR CODE HERE
print(mpg_data.head(4))

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0  3504.0          12.0
1  15.0          8         350.0       165.0  3693.0          11.5
2  18.0          8         318.0       150.0  3436.0          11.0
3  16.0          8         304.0       150.0  3433.0          12.0

   model_year  origin                   car_name
0          70       1  chevrolet chevelle malibu
1          70       1          buick skylark 320
2          70       1         plymouth satellite
3          70       1              amc rebel sst

Write a function which accepts a dataset and returns the number of observations and features in it, like so: 

``` 10 observations on 15 features```

Where 10 and 15 should be replaced with the real numbers. Test your function with the `auto_mpg` dataset.

Make sure the function works with other datasets (don't worry about "1 features" or "1 observations", just leave it as it is).

In [47]:
def observations_and_features(dataset):
    """
    Returns the number of observations and features in the provided dataset
    """
    observations = dataset.shape[0]
    features = dataset.shape[1]
    # YOUR CODE HERE
   
    
    
    return "{} observations on {} features".format(observations, features)

In [48]:
print(observations_and_features(mpg_data))

398 observations on 9 features

Inspect the data types for each column.

In [49]:
mpg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      392 non-null float64
weight          398 non-null float64
acceleration    398 non-null float64
model_year      398 non-null int64
origin          398 non-null int64
car_name        398 non-null object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

The `horsepower` column looks strange. It's a string but it must be a floating-point number. Find out why this is so and convert it to floating-point number.

In [50]:
nose.tools.assert_equal(mpg_data.horsepower.dtype, "float64")

We saw that the `horsepower` column contained null values. Display the rows which contain those values. Assign the resulting dataframe to the `unknown_hp` variable.

In [51]:
def get_unknown_hp(dataframe):
    """
    Returns the rows in the provided dataframe where the "horsepower" column is NaN
    """
    unknown_hp =  mpg_data['horsepower'][pd.isnull(mpg_data['horsepower'])] 
    # YOUR CODE HERE
    #raise NotImplementedError()
    return unknown_hp

In [52]:
cars_with_unknown_hp = get_unknown_hp(mpg_data)
print(cars_with_unknown_hp)

32    NaN
126   NaN
330   NaN
336   NaN
354   NaN
374   NaN
Name: horsepower, dtype: float64

It seems like the `NaN` values are a small fraction of all values. We can try one of several things:
* Remove them
* Replace them (e.g. with the mean power of all cars)
* Look up the models on the internet and try our best guess on the power

The third one is probably the best but the first one will suffice since these records are too few. Remove those values. Save the dataset in the same `mpg_data` variable. Ensure there are no more `NaN`s.

In [53]:
# YOUR CODE HERE
mpg_data =mpg_data[pd.notnull(mpg_data['horsepower'])]

In [54]:
nose.tools.assert_equal(len(get_unknown_hp(mpg_data)), 0)

Display all unique model years. Assign them to the variable `model_years`.

In [42]:
def get_unique_model_years(dataframe):
    """
    Returns the unique values of the "model_year" column
    of the dataframe
    """
    df=dataframe
    model_years =df.model_year.unique() 
    # YOUR CODE HERE
   # raise NotImplementedError()
    return model_years

In [55]:
model_years = get_unique_model_years(mpg_data)
print(model_years)

[70 71 72 73 74 75 76 77 78 79 80 81 82]

These don't look so good. Convert them to real years, like `70 -> 1970, 71 -> 1971`. Replace the column values in the dataframe.

In [92]:
# YOUR CODE HERE

mpg_data.model_year = mpg_data.model_year.astype(str)
mpg_data['model_year']=mpg_data['model_year'].map(lambda x:'19'+x)
mpg_data['model_year'] = pd.to_datetime(mpg_data['model_year'].astype(str), format='%Y%m%d'[4:] )

ValueError: unconverted data remains: 19191970-01-01

In [94]:
model_years = get_unique_model_years(mpg_data)
print(model_years)

['1919191970-01-01' '1919191971-01-01' '1919191972-01-01'
 '1919191973-01-01' '1919191974-01-01' '1919191975-01-01'
 '1919191976-01-01' '1919191977-01-01' '1919191978-01-01'
 '1919191979-01-01' '1919191980-01-01' '1919191981-01-01'
 '1919191982-01-01']

The data looks quite good now. Let's try some exploration.

Write a function to find the cars which have the smallest number of cylinders and print their model names. Return a list of car names.

In [95]:
def get_model_names_smallest_cylinders(dataframe):
    """
    Returns the names of the cars with the smallest number of cylinders
    """
     
    selection = dataframe.cylinders.min()
    car_names = dataframe.loc[dataframe['cylinders'] == selection].car_name
    
    # YOUR CODE HERE
    #raise NotImplementedError()
    return car_names

In [96]:
car_names = get_model_names_smallest_cylinders(mpg_data)
print(car_names)
nose.tools.assert_equal(car_names.shape, (4,))

71     mazda rx2 coupe
111          maxda rx3
243         mazda rx-4
334      mazda rx-7 gs
Name: car_name, dtype: object

Finally, let's see some connections between variables. These are also called **correlations**.

Find how to calculate correlations between different columns using `pandas`.

**Hint:** The correlation function in `pandas` returns a `DataFrame` by default. You need only one value from it.

Create a function which accepts a dataframe and two columns and prints the correlation coefficient between those two columns.

In [99]:
def calculate_correlation(dataframe, first_column, second_column):
    """
    Calculates and returns the correlation coefficient between the two columns in the dataframe.
    """
    
    correlation = dataframe[first_column].corr(dataframe[second_column])
    # YOUR CODE HERE
    #raise NotImplementedError()
    return correlation

In [100]:
hp_weight = calculate_correlation(mpg_data, "horsepower", "weight")
print("Horsepower:Weight correlation coefficient:", hp_weight)
nose.tools.assert_almost_equal(hp_weight, 0.864537737574, delta = 0.01)

Horsepower:Weight correlation coefficient: 0.864537737574